name: Deploy to Cloudflare Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Bun
      uses: oven-sh/setup-bun@v1
      with:
        bun-version: latest

    - name: Install dependencies
      run: bun install

    - name: Create .env file
      run: |
        echo "NEXT_PUBLIC_API_URL=${{ secrets.REDIS_URL }}" >> .env
        echo "NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=${{ secrets.NEXT_PUBLIC_GOOGLE_ANALYTICS_ID }}" >> .env
        echo "REDIS_TOKEN=${{ secrets.REDIS_TOKEN }}" >> .env

    - name: Build and Deploy
      run: bun run pages:build
    - name: Publish
      uses: cloudflare/pages-action@v1
      with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: steamer-academy-me
          directory: .vercel/output/static
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
